@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.MuiBox-root {
  scrollbar-width: thin;
  scrollbar-color: #888 #e0e0e0;
}

.MuiBox-root::-webkit-scrollbar {
  height: 8px;
}

.MuiBox-root::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.MuiBox-root::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
}